{{- define "main" -}}
<div class="article-container">
<article class="article markdown-body">
  <h1 id="title">NOT FOUND</h1>
  <pre class="chroma"><code class="language-rust" data-lang="rust"><span class="k">fn</span> <span class="nf">main</span><span class="p">()</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="w"> </span><span class="n">println</span><span class="o">!</span><span class="p">(</span><span class="s">&#34;404&#34;</span><span class="p">);</span><span class="w">
</span><span class="w"></span><span class="p">}</span></code></pre>
</article>
</div>
{{- end -}}